# 데이터 분석 및 전처리를 위한 라이브러리
pandas==2.2.3
numpy==2.2.5
tqdm==4.67.1
scikit-learn==1.6.1
transformers==4.53.2
sentence-transformers==5.0.0
aiohttp==3.12.14 # 비동기 HTTP 요청을 위해 추가
certifi==2025.7.9 # SSL 인증서 관리를 위해 추가
SQLAlchemy==1.4.54  # pandas <-> PostgreSQL 연결을 위해 추가
psycopg2-binary==2.9.10 # PostgreSQL 드라이버 추가

# 크롤링 스크립트 실행에 직접적으로 필요한 라이브러리
Crawl4AI==0.7.0
beautifulsoup4==4.13.4
playwright==1.53.0
pymongo==4.10.1
openai==1.95.0

# Airflow와 외부 서비스를 연결하는 Provider 패키지
apache-airflow==3.0.3
apache-airflow-providers-celery==3.12.1
apache-airflow-providers-mongo==5.2.1
apache-airflow-providers-postgres==6.2.1